body{
    background-color: antiquewhite;
    background-image: url('../images/apple-bg.jpg');
    background-repeat: no-repeat;
}
h1{
    background-color: blue;
    background-clip: border-box;
    margin: 10px;
    padding: 10px;
}